@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    @apply text-h1 font-semibold;
  }
  
  h2 {
    @apply text-h1-sm font-semibold;
  }
  
  h3 {
    @apply text-h3 font-semibold;
  }
  
  h4 {
    @apply text-h4 font-semibold;
  }
  
  p {
    @apply text-body-2 text-gray-90;
  }
}

@layer components {
  .container-default {
    @apply container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mb-10;
  }
}

:root {
  --background: #FFFFFF;
  --foreground: #55575B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
